/* Stile Generale */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    line-height: 1.6;
}

/* Stile dell'Header */
.header {
    background-color: #f68d0c;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Logo */
.logo {
    font-size: 2.5em;
    text-align: center;
    color: rgb(248, 34, 11);
    font-weight: bold;
    margin-bottom: 20px;
}

.search-container{
display:flex;
justify-content: center;
margin: 20px 0;
}

.search-bar{
    width:50%;
    padding: 12px 20px;
    border: 2px solid #ddd;
    border-radius: 20px;
    font-size: 1em;
    outline: none;
    transition: border-color 0.3s;
}
.search-bar:focus{
    border-color: #f21105 ;
}
.nav{
 display: flex;
 justify-content: center;
 gap: 20px;
 margin-bottom: 20px;
 padding: 10px 0;

}
.nav a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 25px;
    transition: all 0.3s ease;
    position: relative;
}
.nav a:hover{
    background-color: #45f604;
    transform: translateY(-2px);
    color: white;
    box-shadow: 0 4px 8px rgb(2, 2, 240);
}
.nav a:hover::after{
 width: 80%;

}
.nuovi-bandi{
    width:100%;
    height: 500px;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("./immagini/negozio.jpg");
    background-size: cover; /* Adatta l'immagine alla sezione */
    background-position: center; /* Centra l'immagine */
    display: flex;
    justify-content: center;
    color:white;
    text-align: center;
    align-items: center;
}
.saldo-bandi{
background-color: rgb(0, 255, 0);
color: white;
text-align: center;
padding: 10px;
font-size: 1.2em;
font-weight: bold;
}

.prodotti-vendita{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    gap: 30px;
    padding: 40px;
    background-color:#0408f6f8 ;
}

.prodotti-card{
background:#f18b05;
padding: 15px;
border-radius: 8px;
box-shadow:0 2px 5px rgba(0, 0, 0, 0.1);
position: relative;
overflow: hidden;
}
.prodotti-immagine{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 4px;
    transition: transform 0.3s ease;
}